* {
  font-family: "Unbounded", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f9f9f9;
}

table {
  width: 80%;
  max-width: 800px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th {
  background-image: linear-gradient(0deg, rgb(43, 112, 107) 25%, rgba(41, 61, 74, 0.1) 100%, rgba(41, 51, 67, 0) 100%);
  color: #ffffff;
  font-weight: bold;
  padding: 12px;
}

td {
  padding: 12px;
  border-bottom: 1px solid #dddddd;
}

tr:hover {
  background-color: #f1f1f1;
}

.selected {
  background-color: #e3f2fd;
}

.audio-player {
  margin-top: 10px;
  margin-bottom: 10px;
}
